$_-2px: -0.04rem;
$_2px: 0.04rem;
$_4px: 0.08rem;
$_6px: 0.12rem;
$_8px: 0.16rem;
$_10px: 0.2rem;
$_12px: 0.24rem;
$_14px: 0.28rem;
$_16px: 0.32rem;
$_18px: 0.36rem;
$_20px: 0.4rem;
$_22px: 0.44rem;
$_24px: 0.48rem;
$_28px: 0.56rem;
$_30px: 0.6rem;
$_32px: 0.64rem;
$_36px: 0.72rem;
$_40px: 0.8rem;
$_48px: 0.96rem;
$_50px: 1rem;
$_56px: 1.12rem;
$_60px: 1.2rem;
$_64px: 1.48rem;
$_72px: 1.64rem;
$_88px: 1.76rem;
$_128px: 2.56rem;
$_150px: 3rem;
$_200px: 4rem;
$_250px: 5rem;
$_300px: 6rem;
$_350px: 7rem;
